html {
  font-size:16px;
  background-color: #508aff;
}

@media only screen and (min-width:600px){
  html {
      font-size:20px;
  }
}

@media only screen and (min-width:768px){
  html {
      font-size:24px;
  }
}

.App {
  text-align: center;
}

header {
  position: fixed;
  top:0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height:4rem;
  background-color: lightskyblue;
  z-index:1;
}
.root {
  padding: 2px 4px 2px 18px;
  display: flex;
  align-items: center;
  width: 400;
}
.iconButton {
  padding: 10;
}
.memes{
  position:absolute;
  top:3rem;
  padding:2rem;
  overflow:auto;
  display:flex; 
  flex-wrap:wrap;
  align-items: center;
  justify-content:center;
}
.meme{
  padding:.5rem;
  cursor: pointer;
  position: relative;
}
.meme-title{
  display:none;
  position: absolute;
  bottom:.76rem;
  max-width: calc(100% - 1.4rem);
  background:rgba(255,255,255,0.5);
  font-weight: bold;
  font-size:0.7rem;
  padding:.1rem .2rem;
  overflow: wrap;
  text-overflow: ellipsis;
  white-space: wrap;
}
.meme:hover .meme-title{
  display:block;
}
.link{
  display:none;
  position:absolute;
  bottom:calc(50% - 1rem);
  right: calc(50% - .7rem);

  color:rgba(255, 255, 255, 0.8);
}
.meme:hover .link{
  display:block;
}

.meme:active .link{
  color:lightskyblue;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy{
  display:none;
  position: absolute;
  top:0;
  left:0;
  background:lightskyblue;
  font-size:0.7rem;
  padding:.1rem .2rem;
  overflow: wrap;
  text-overflow: ellipsis;
  white-space: wrap;
}
.meme:hover .copy{
  display:block;
}